#book_your_table
    background-image: url("../images/main_bg.jpg")
    height: 1000px
    width: 100%
    .container
        background-color: white

    .contact_form
        background-image: url("../images/book_table_bg.jpg")
        border-radius: 15px
        padding: 25px
        input
            border-radius: 20px
            margin-top: 5px
    .card-img-top
        border: 10px solid lightgrey