footer
    width: 100%
    background-image: url("../images/footer_background.jpg")
    background-repeat: no-repeat
    .red_end_footer
        height: 100px
        background-color: $red-button
    .gallery
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 10px 10px
