header
    background-image: linear-gradient(rgba(5, 0, 0, 0.966), rgba(0, 0, 0, 0.5)), url('../images/banner1.jpg')
    background-size: 100%
    background-position: cover
    height: 99vh
    width: 100%
    ul
        border-top: 2px solid white
        border-bottom: 2px solid white
        text-transform: uppercase
    .text_introduction
        text-align: center
        margin-top: 15%
        font-style: italic    
        
    .button_white
        background-color: $white-text
    .button_red
        background-color: $red-button