header
    background: url('../images/banner1.jpg') no-repeat top center
    background-size: cover
    background-blend-mode: multiply
    background-color: #2E2E2F
    height: 100vh
    border-image: url('../images/bottom_decoration_img.png') repeat
    border-bottom: 15px solid transparent
    border-image-slice: 30
    nav
        font-family: roboto
        position: fixed
    ul
        border-top: 2px solid white
        border-bottom: 2px solid white
        text-transform: uppercase
        li:hover
            background-color: red
    .text_introduction
        text-align: center
        h1
            font-family: courgette
            margin-top: 10%
    .button_white
        background-color: $white-text
    .button_red
        background-color: $red-button

.our_title_red_span
    color: $red-span
    text-transform: uppercase

//carousel
.carousel
    height: 60vh
.carousel-indicators
    height: 5vh 
    padding: 5px
    button
        width: 10px!important
        height: 10px!important
        border-radius: 50%
    

@media (max-width: 1000px)
    header
        height: 75vh

@media (max-width: 768px)
    header
        height: 15vh
        border-image: none
        .carousel
            display: none
    