header
    background: url('../images/banner1.jpg') no-repeat top center
    background-size: cover
    background-blend-mode: multiply
    background-color: #2E2E2F
    height: 100vh
    border-image: url('../images/bottom_decoration_img.png') repeat
    border-bottom: 15px solid transparent
    border-image-slice: 30
    nav
        font-family: roboto
        position: fixed !important
        display: flex
        width: 93vw
    ul
        border-top: 1px solid lightgrey
        border-bottom: 1px solid lightgrey
        text-transform: uppercase
        li
            padding-top: 2%
            padding-bottom: 2%
            width: 100%
            text-align: center
            a
                font-size: 0.8em 
        li:hover
            background-color: $red-button
    .text_introduction
        text-align: center
        h1
            font-family: courgette
            margin-top: 10%
    .button_white
        background-color: $white-text
    .button_red
        background-color: $red-button

.our_title_red_span
    color: $red-span
    text-transform: uppercase

//carousel
.carousel
    margin-top: 15vh
    height: 60vh
.carousel-indicators
    .outline_indicator
        border: 1px solid white
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        width: 18px!important
        height: 18px!important
    button
        width: 10px!important
        height: 10px!important
        border-radius: 50%
        
    

@media (max-width: 1023px)
    header
        height: 62vh
        nav
            left: 3
        .carousel
            margin-top: 10vh
            visibility: hidden
        .container
            border: 0 !important
            display: none !important
        .col-5:nth-child(2)
            border-top: 0 !important
    ul
        display: block !important

@media (max-width: 768px)
    header
        border-image: none
        .carousel
            display: none
    