#our_story
    background-image: url("../images/main_bg.jpg")
    width: 100%
    background-repeat: repeat
    button p
        font-family: courgette
        font-size: 1.5em
    i
        color: $red-button
    .menu
        height:900px
    .card
        border-bottom: 1px dotted lightgrey !important
        border-width: 80% !important
        background-color: #f8f9fa
        .red_label_price
            background-color: #efefef
            text-decoration: none
            padding-left: 10px
            padding-right: 10px
            color: red
    .card img
        width: 85%
        border: 3px solid lightgrey